# Database Credentials
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_MAX_POOL_SIZE=
DB_MIN_IDLE=

# Insight
AWS_AGENT_ID=
AWS_AGENT_ALIAS_ID=

# Recipe
BEDROCK_AGENT_ID=
BEDROCK_AGENT_ALIAS_ID=

# S3 Configuration
S3_BUCKET_NAME=
S3_REALTIME_PREFIX=
S3_REALTIME_LOOKBACK_DAYS=